stage('Run in Docker') {
    steps {
        sh '''
        docker run --rm -v $(pwd):/app -w /app python:3.11 \
        sh -c "
        ls &&
        pip install -r /app/requirements.txt &&
        python main.py &&
        python -m pytest
        "
        '''
    }
}
